@{
    if (ViewBag.result == 1)
    {
        <script>
            window.onload = function () {
                let myModal = new bootstrap.Modal(
                    document.getElementById("exampleModal"),
                    {}
                );
                myModal.show();
            };
        </script>
    }
}


<nav class="navbar navbar-dark bg-primary rounded-pill">
    <form class="container-fluid justify-content-start">
        <a href="@Url.Action("Main","Home")" class="btn btn-outline-light me-2" type="button">Main</a>
        <div class="dropdown">
            <button class="btn btn-outline-light me-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Registration
            </button>
            <ul class="dropdown-menu">
                <li class="bg-primary"><a href="@Url.Action("Voter","Home")" class="dropdown-item" type="button">Voter</a></li>
                <li class="bg-primary"><a href="@Url.Action("Candidate","Home")" class="dropdown-item" type="button">Candidate</a></li>
                <li class="bg-primary"><a href="@Url.Action("Party","Home")" class="dropdown-item" type="button">Party</a></li>
            </ul>
        </div>
        <a href="@Url.Action("Constituency","Home")" class="btn btn-outline-light me-2" type="button">Constituency Options</a>
        <a href="@Url.Action("Village","Home")" class="btn btn-outline-light me-2" type="button">Village Options</a>
        <a href="@Url.Action("Parish","Home")" class="btn btn-outline-light me-2" type="button">Parish Options</a>
        <a href="@Url.Action("Users","Home")" class="btn btn-outline-light me-2" type="button">User Options</a>
        <a href="@Url.Action("Reports","Home")" class="btn btn-outline-light me-2" type="button">Reports</a>
        <a href="@Url.Action("Logout","Home")" class="btn btn-outline-light me-2" type="button">Logout</a>
        <label class="text-light" id="lblUser">Logged in as : @((Session["UserCred"] as ElectionApiFramework.Models.User).Fname) @((Session["UserCred"] as ElectionApiFramework.Models.User).Lname) </label>

    </form>
</nav>

<br />
<div style="text-align:center;" class="bg-light h-100">

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/montserrat-aerial-view.jpg" class="d-block w-100" height="450" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Images/montserrat-caribbean-coast.jpg" height="450" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Images/woodlands-beach.jpg" class="d-block w-100" height="450" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="bg-light h-100">
    <br />
    <p class="text-primary">
        Caribbean Elections generally take place within the framework of a multi-party democracy and a parliamentary system.
        The Legislative Assembly is directly elected, and a Prime Minister/Chief Minister/Premiere is selected by
        the party or coalition with the most seats in the Assembly.The Legislative Assembly are elected for five-year
        terms either in a single constituency or Multiple constituencies depending on the country's situation or electorial rules. This Electronic Electorial System supports Multiple modes of Elections suited to all situations.
    </p>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-primary" id="exampleModalLabel">Message Alert</h1>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Msg</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>
